
.form {
    display: grid;
    grid-template-rows: auto 50px 50px;
    grid-gap: 20px;
    padding: 10px;
    justify-content: center;
}

h1 {
    color: #909;
}

.header {
    display: grid;
    grid-template-columns: 30% auto;
    grid-gap: 50px;
    padding: 10px;
}